<table class="table" *ngIf="choices && choices.length > 0">
    <tr *ngFor="let choice of choices">
<!-- <div *ngIf="choices && choices.length > 0">
<div *ngFor="let choice of choices"> -->
<!-- <div class="ractangle1"> -->
    <div class="rectangle2"> 
       <!-- <div class="card-body"> -->
        <div class="col-md-7">
            <p style="color: #0C747E; font-size: 18px;">Question Body</p>
          </div>
        <div class="choices">
        
        <div>
            <div style="display: flex; align-items: flex-start;">
          
            <input type="radio" name="choice" id="choice-3">
          <td>  <label for="choice" style="padding-left: 28px;font-size: 15px; ">{{ choice.choice1 }}</label></td><br><br>
        </div>
    

        <div>
            <input type="radio" name="choice2" id="choice-2">
            <td>  <label for="choice2" style="padding-left: 28px;font-size: 15px; ">{{ choice.choice2 }}</label></td><br><br>
        </div>

        <div>
            <input type="radio" name="choice3" id="choice-3">
            <td>  <label for="choice3" style="padding-left: 28px;font-size: 15px; ">{{ choice.choice3 }}</label></td><br><br>
        </div>

        
        <div>
            <input type="radio" name="choice4" id="choice-4">
            <td>  <label for="choice4" style="padding-left: 28px;font-size: 15px; ">{{ choice.choice4 }}</label></td><br><br>
        </div>
        
      </div>
      </div>
  

    <!-- </div> -->
  <!-- </div> -->
<!-- </div>
</div> -->

<!-- <div style="width: 400px; height: 300px; border: 2px solid black; padding: 20px;">
    <div style="width: 200px; height: 100px; border: 2px solid red;"></div>
  </div> -->