
  <div class="body">
    <form action="" #form="ngForm">
  <table *ngFor="let choice of choices">
  <div class="rectangle-around">
      <div class="card" >
        <div class="card-header">
          <p class="coice-interation" id="ModalLabel">CHOICE INTERACTION</p>
          <span class="choice-right">
            <p class="question">QUESTION</p>
            <p class="response" routerLink="edit">
              <a [routerLink]="['/choices', 'edit', choice.id]">Edit</a>
            <!-- <img src="/assets/images/tdash.png" class="tdash" alt="" (click)="deleteChoices(viewChoices.id)"> -->
            
        </span>
        </div>
        <div class="card-body">
            <div class="col-md-7">
              <p style="color: #0C747E; font-size: 18px;">Question Body</p>
            </div>
            <div class="choices">
              
              <div style="display: flex; align-items: flex-start;">
                <tr>
                <td>
                <input type="radio" name="id" id="id">
                <label for="id" style="padding-left: 28px;font-size: 15px; ">{{ choice.id }}
                  <!-- <button type="button" class="btn btn-danger"
                  (click)="deleteChoices(viewChoices.id)">Delete</button> -->
                </label></td><br><br> 
                <td>
                <input type="radio" name="choice1" id="choice1">
                <label for="choice1" style="padding-left: 28px;font-size: 15px; ">{{ choice.choice1 }}
                  <!-- <button type="button" class="btn btn-danger"
                  (click)="deleteChoices(viewChoices.id)">Delete</button> -->
                </label></td><br><br>
                <td>
                <input type="radio" name="choice2" id="choice2">
                <label for="choice2" style="padding-left: 28px;font-size: 15px; ">{{ choice.choice2 }}
                  <!-- <button type="button" class="btn btn-danger"
                  (click)="deleteChoices(viewChoices.id)">Delete</button> -->
                </label></td><br><br>
                <td>
                <input type="radio" name="choice3" id="choice3">
                <label for="choice3" style="padding-left: 28px;font-size: 15px; ">{{ choice.choice3 }}
                  <!-- <button type="button" class="btn btn-danger"
                  (click)="deleteChoices(viewChoices.id)">Delete</button> -->
                </label></td><br><br>
                <td>
                <input type="radio" name="choice4" id="choice4">
                <label for="choice4" style="padding-left: 28px;font-size: 15px; ">{{ choice.choice4 }}
                  <!-- <button type="button" class="btn btn-danger"
                  (click)="deleteChoices(viewChoices.id)">Delete</button> -->
                </label></td><br><br>
                <td><a [routerLink]="['/choices', 'edit', choice.id]">View</a></td>
              </tr>
              </div>
            </div>
            </div>
            </div>
  </div>
  </table>
  </form>
  </div>
<!-- </div> -->